/* 
--------------------------------
    : Custom - General css :
--------------------------------
*/
html {
  position: relative;
  min-height: 100%;
}
body {  
  font-family: $font-primary;
  margin: 0;
  background: $bg-body;
  font-size: $base-font;
  font-weight: 400;
  color: $muted;
  line-height: 1.5;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $heading-color;
}
h1 {
  font-size: 38px; 
}
h2 {
  font-size: 30px; 
}
h3 {
  font-size: 26px; 
}
h4 {
  font-size: 22px; 
}
h5 {
  font-size: 18px; 
}
h6 {
  font-size: 15px; 
}
b {
  font-weight: 700;
}
strong {
  font-weight: 700;
}
p {
    line-height: 1.3;
    margin-bottom: 10px;
}
label {
    vertical-align: middle;
}
* {
  outline: none !important;
}
a {
  color: $primary;
  &:hover {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
  &:active {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
}
code {
  color: $primary;
}
.logobar {
  padding: 15px 0;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid $border-color;
  .logo {
    &.logo-small {
      display: none;
    }
    img {
      width: 128px;
    }
  }
}
.leftbar {
  width: 250px;
  height: 100%;
  position: fixed;
  background: $white;
  border-right: 1px solid $border-color;
  z-index: 1000;
  transition: all 0.3s ease;
}
.rightbar {
  margin-left: 250px;
  overflow: hidden;
  min-height: 500px;
  transition: all 0.3s ease;
}
.contentbar {
  padding: 15px;
  margin-bottom: 30px;
}
.footerbar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 250px;
  padding: 20px 30px;
  text-align: center;
  background-color: $white;
  background-color: $card-bg;
}
.toggle-menu .footerbar {
    left: 0;
}
.slimScrollBar {
    z-index: 0 !important;
}
.navigationbar {
    height: calc(100vh - 100px);
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}