.breadcrumbbar {
  background-color: initial;

  @media (max-width: 768px) {

  }

  .breadcrumb-list {
    ul {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      border-radius: .25rem;
      margin: 0;
      padding: 0;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      background-color: transparent;

      li{
        display: -ms-flexbox;
        display: flex;

        &.active {
          color: #263a5b;
        }
        a {
          color: #8A98AC;
        }
      }
    }

    li + li {
      padding-left: 0.2rem;
    }

    li + li::before {
      content: "";
      font-family: "feather" !important;
      font-size: 14px;
      padding-right: 0.2rem;
    }

    li.active {
      color: #263a5b;
    }
  }
}
