.form-buttons{
  padding-left: 20px;
  padding-right: 20px;
}

.form-buttons{
  padding-left: 20px;
  padding-right: 20px;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.field-multilingual.field-multilingual-text .ml-btn {
  display: none;
}

.field-multilingual.field-multilingual-markdowneditor .ml-btn {
  display: none;
}