table.table.data .list-checkbox {
  border-right:none !important;
}

table.table.data thead th {
  border-top: none !important;
  border-bottom: none !important;
}

.table >thead:first-child >tr:first-child >th{
  border-bottom: 1px solid #d4d8da !important;
}

.list-cell-name-short_description a {
  color: #263a5b;
  font-weight: 600;
  font-size: 12px;
}

.list-cell-index-1{
  font-weight: 900;
  color: #263a5b !important;
}

table.table.data thead th > a{
  font-weight: 900;
  color: #263a5b !important;
  font-size: 12px;
}

.list-checkbox {
  vertical-align: middle;
}

.table.table.data tbody td{
  padding: 12px 15px;
  border-top: 2px solid white;
  color: #8A98AC;
  vertical-align: middle;
  border-top: 1px solid rgba(0, 0, 0, 0.03);
  height: 60px;
  font-size: 14px;
}

.table.table.data tbody tr:nth-child(even) td{
  background-color: initial;
}

table.table.data {
   border-bottom: none;
}


table.table.data tbody tr.rowlink:not(.nolink):hover td, table.table.data tbody tr:not(.no-data).selected td {
  background:  var(--primary) !important;
  color: white !important;
}

.list-header{
  margin-top: 20px
}

.list-scrollable-container{
  background-color: white;
  padding-top: 10px;
}

.list-header {
  padding: 0;
}

.list-scrollable-container >.list-scrollable {
  overflow-x: scroll !important;
}

.list-scrollable-container.scroll-after:after {
  display: none;
}

.list-scrollable-container.scroll-before:before {
  display: none;
}
