.modal {
  z-index: 9999 !important;
}

div.control-popover {
  z-index: 99999;
}

.modal-dialog {
  max-width: 100vw;
  height: auto;

  @media (min-width: 800px) {
    max-width: 80vw;
  }

  .modal-header {
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 15px 20px;

    .modal-title {
      font-weight: bold;
    }

    .close {
      color: #ffffff;
      position: absolute;
      top: 5px;
      right: 20px;
      font-size: 40px;
      font-weight: 100;

      @media (max-width: 800px) {
        top: -6px;
        font-size: 50px;
      }
    }
  }

  .modal-body {
    padding: 20px;
  }

  .modal-footer {
    padding: 20px;
  }
}

.modal-open .modal {
  z-index: 9999 !important;
}

.control-popup.fade .modal-dialog {
  opacity: inherit;
}

.popup-backdrop {
  z-index: 9999;
}

.popover {
  z-index: 10000;
}
