.control-tabs{
  z-index: 0;
}

.control-tabs.primary-tabs >ul.nav-tabs, .control-tabs.primary-tabs >div >ul.nav-tabs, .control-tabs.primary-tabs >div >div >ul.nav-tabs {
  margin-left: 0;
  margin-right: 0;
}

#Form-primaryTabs{
  padding-top: 20px;
  min-height: 50vh;
  .form-widget{
    border-top:none;
  }
  .tab-pane{
    padding: 30px;
    background: white;
    padding-top: 60px;
  }
}

#Form-outsideTabs{
  padding: 30px;
  padding-top: 40px;
  background: white;
  margin-bottom: 30px;
}

#Form-relationInvoiceAddressViewForm-primaryTabs{
  .tab-pane{
    padding: initial;
    padding-top: 20px;
  }
}

.relation-manager .list-widget{
  margin-top: 20px;
}

.control-tabs.primary-tabs >div >ul.nav-tabs >li:first-child{
  padding-left: 0 !important
}

.control-tabs.primary-tabs >div >ul.nav-tabs >li{
  margin-right: 0px !important;
}


.control-tabs.primary-tabs >ul.nav-tabs:before, .control-tabs.primary-tabs >div >ul.nav-tabs:before, .control-tabs.primary-tabs >div >div >ul.nav-tabs:before {
  display: none;
}

.control-tabs.primary-tabs >ul.nav-tabs >li a >span.title:after, .control-tabs.primary-tabs >div >ul.nav-tabs >li a >span.title:after, .control-tabs.primary-tabs >div >div >ul.nav-tabs >li a >span.title:after {
  display: none;
}

.control-tabs.primary-tabs >ul.nav-tabs >li a >span.title:before, .control-tabs.primary-tabs >div >ul.nav-tabs >li a >span.title:before, .control-tabs.primary-tabs >div >div >ul.nav-tabs >li a >span.title:before {
  display: none;
}

.control-tabs >ul.nav-tabs >li a >span.title >span, .control-tabs >div >ul.nav-tabs >li a >span.title >span, .control-tabs >div >div >ul.nav-tabs >li a >span.title >span {
  max-width: 144px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  border-top: none;
  margin-top: -4px;
  padding-top: 7px;
  font-size: 20px;
  color: #26395a;
  @media (min-width: 1200px) {
    max-width: 200px;
  }
  @media (max-width: 768px) {
    font-size: 13px;
    max-width: 120px;
  }
}

.control-tabs.primary-tabs >ul.nav-tabs >li a >span.title, .control-tabs.primary-tabs >div >ul.nav-tabs >li a >span.title, .control-tabs.primary-tabs >div >div >ul.nav-tabs >li a >span.title {
  @media (max-width: 768px) {
    padding: 4px 13px 0 13px;
  }
}

.control-tabs.primary-tabs >div >ul.nav-tabs >li a{
  &.active{
    background: white;
  }
}

.control-tabs.primary-tabs >ul.nav-tabs >li.active a:before, .control-tabs.primary-tabs >div >ul.nav-tabs >li.active a:before, .control-tabs.primary-tabs >div >div >ul.nav-tabs >li.active a:before {
  display: none;
}

:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.control-tabs.secondary-tabs > ul.nav-tabs, .control-tabs.secondary-tabs > div > ul.nav-tabs, .control-tabs.secondary-tabs > div > div > ul.nav-tabs {
  margin-left: 0;
  margin-right: 0;
}



#Form-secondaryTabs {
  padding-top: 20px;
  min-height: 50vh;
  margin-top: 30px;
}
#Form-secondaryTabs .form-widget {
  border-top: none;
}
#Form-secondaryTabs .tab-pane {
  padding: 30px;
  background: white;
  padding-top: 60px;
}



#Form-relationInvoiceAddressViewForm-secondaryTabs .tab-pane {
  padding: initial;
  padding-top: 20px;
}

.control-tabs.secondary-tabs > div > ul.nav-tabs > li:first-child {
  padding-left: 0 !important;
}

.control-tabs.secondary-tabs > div > ul.nav-tabs > li {
  margin-right: 0px !important;
}

.control-tabs.secondary-tabs > ul.nav-tabs:before, .control-tabs.secondary-tabs > div > ul.nav-tabs:before, .control-tabs.secondary-tabs > div > div > ul.nav-tabs:before {
  display: none;
}

.control-tabs.secondary-tabs > ul.nav-tabs > li a > span.title:after, .control-tabs.secondary-tabs > div > ul.nav-tabs > li a > span.title:after, .control-tabs.secondary-tabs > div > div > ul.nav-tabs > li a > span.title:after {
  display: none;
}

.control-tabs.secondary-tabs > ul.nav-tabs > li a > span.title:before, .control-tabs.secondary-tabs > div > ul.nav-tabs > li a > span.title:before, .control-tabs.secondary-tabs > div > div > ul.nav-tabs > li a > span.title:before {
  display: none;
}

.control-tabs.secondary-tabs > div > ul.nav-tabs > li a.active {
  background: white;
}

.control-tabs.secondary-tabs > ul.nav-tabs > li.active a:before, .control-tabs.secondary-tabs > div > ul.nav-tabs > li.active a:before, .control-tabs.secondary-tabs > div > div > ul.nav-tabs > li.active a:before {
  display: none;
}

.control-tabs.secondary-tabs >ul.nav-tabs >li a, .control-tabs.secondary-tabs >div >ul.nav-tabs >li a, .control-tabs.secondary-tabs >div >div >ul.nav-tabs >li a {
  font-size: inherit;
  font-weight: inherit;
  padding-bottom: inherit;
}

.control-tabs.secondary-tabs >ul.nav-tabs >li, .control-tabs.secondary-tabs >div >ul.nav-tabs >li, .control-tabs.secondary-tabs >div >div >ul.nav-tabs >li {
  padding-right: inherit;
  margin-right: inherit;
  border-right: inherit;
}

.control-tabs.secondary-tabs >ul.nav-tabs >li a >span.title, .control-tabs.secondary-tabs >div >ul.nav-tabs >li a >span.title, .control-tabs.secondary-tabs >div >div >ul.nav-tabs >li a >span.title {
  position: relative;
  display: inline-block;
  padding: 4px 25px 0 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 10;
  @media (max-width: 768px) {
    padding: 4px 13px 0 13px;
  }
}

.fancy-layout .form-tabless-fields {
  position: relative;
  background: var(--secondary) !important;
  padding: 18px 23px 0 23px;
  transition: all 0.5s;
}
