<li class="list-inline-item">
    <div class="searchbar">
        <form>
            <div class="input-group">
                <input placeholder="Suche" aria-label="Suche" aria-describedby="button-addon2"
                       type="text" name="listToolbarSearch[term]" value="" data-request="listToolbarSearch::onSubmit" data-request-complete="if($(this).val().length) {$(this).next().show()} else {$(this).next().hide()};" data-track-input="" data-load-indicator="" data-load-indicator-opaque="" class="form-control   " autocomplete="off">
                <div class="input-group-append">
                    <button class="btn" type="submit" id="button-addon2">
                        <img src="<?= Backend::skinAsset('assets/images/svg-icon/search.svg') ?>"
                             class="img-fluid" alt="search">
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
