<?php $systemItems = System\Classes\SettingsManager::instance()->listItems('system');

?>

<?php if(count($systemItems)!=0): ?>

<div id="infobar-settings-sidebar" class="infobar-settings-sidebar">
    <div class="infobar-settings-sidebar-head d-flex w-100 justify-content-between">
        <h4>Einstellungen</h4>
        <a href="javascript:void(0)" id="infobar-settings-close" class="infobar-settings-close">
            <img src="<?= Backend::skinAsset('assets/images/svg-icon/close.svg') ?>" class="img-fluid menu-hamburger-close"
                 alt="close">
        </a>
    </div>
    <div class="infobar-settings-sidebar-body">
        <div class="custom-mode-setting">
            <?php foreach ($systemItems as $key => $items): ?>
            <div class="row align-items-center pb-3 pt-5">
                <div class="col-8"><h6 class="mb-0">  <?= e(trans($key)) ?> </h6></div>
            </div>
            <?php foreach ($items as $item): ?>
            <div class="row align-items-center pb-3">
                <div class="col-1"></div>
                <div class="col-8"><a href="<?= $item->url ?>"><h6 class="mb-0">  <?= e(trans($item->label)) ?> </h6>
                </a></div>
            </div>
            <?php endforeach ?>
            <?php endforeach ?>
        </div>
    </div>
</div>

<?php endif ?>
