<div class="infobar">
    <ul class="list-inline mb-0">

        <?php if(count(System\Classes\SettingsManager::instance()->listItems('system'))!=0): ?>
            <li class="list-inline-item">
                <div class="settingbar">
                    <a href="javascript:void(0)" id="infobar-settings-open" class="infobar-icon">
                        <img src="<?= Backend::skinAsset('assets/images/svg-icon/settings.svg') ?>" class="img-fluid"
                             alt="settings">
                    </a>
                </div>
            </li>
        <?php endif ?>

        <?php if($this->user->hasAccess('nextlevels.cms')): ?>
        <li id="cms-cache" style="display: none;" class="list-inline-item">
            <div class="notifybar">
                <div class="dropdown">
                    <a class="dropdown-toggle infobar-icon" href="#" role="button"
                       id="notoficationlink" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="<?= Backend::skinAsset('assets/images/svg-icon/flash.svg') ?>" class="img-fluid" alt="notifications">
                        <span></span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="notoficationlink">
                        <div class="notification-dropdown-title">
                            <a href="/backend/nextlevels/nextlevelcms/pagescontroller/cache">
                                <h4>Cache löschen</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <?php endif ?>

        <li class="list-inline-item">
            <div class="languagebar">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="languagelink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flag flag-icon-de flag-icon-squared"></i></a>

                </div>
            </div>
        </li>
        <li class="list-inline-item">
            <div class="profilebar">
                <div class="dropdown">
                    <a class="dropdown-toggle" href="#" role="button" id="profilelink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="<?= $this->user->getAvatarThumb(90, ['mode' => 'crop', 'extension' => 'png']) ?>" class="img-fluid" alt="profile">
                        <span class="feather icon-chevron-down live-icon"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profilelink">
                        <div class="dropdown-item">
                            <div class="profilename">
                                <h5><?= $this->user->full_name ?></h5>
                            </div>
                        </div>
                        <div class="userbox">
                            <ul class="list-unstyled mb-0">
                                <li class="media dropdown-item">
                                    <a href="/backend/backend/users/myaccount" class="profile-icon">
                                        <img src="<?= Backend::skinAsset('assets/images/svg-icon/user.svg') ?>"
                                             class="img-fluid" alt="user">Mein Account
                                    </a>
                                </li>
                                <li class="media dropdown-item">
                                    <a href="/backend/backend/preferences" class="profile-icon">
                                        <img src="<?= Backend::skinAsset('assets/images/svg-icon/email.svg') ?>"
                                             class="img-fluid" alt="email">Präferenzen
                                    </a>
                                </li>
                                <li class="media dropdown-item">
                                    <a href="/backend/backend/auth/signout"
                                       class="profile-icon">
                                        <img src="<?= Backend::skinAsset('assets/images/svg-icon/logout.svg') ?>"
                                             class="img-fluid" alt="logout">Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
