<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0, minimal-ui">
<meta name="robots" content="noindex">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="app-timezone" content="<?= e(Config::get('app.timezone')) ?>">
<meta name="backend-base-path" content="<?= Backend::baseUrl() ?>">
<meta name="backend-timezone" content="<?= e(Backend\Models\Preference::get('timezone')) ?>">
<meta name="backend-locale" content="<?= e(Backend\Models\Preference::get('locale')) ?>">
<meta name="csrf-token" content="<?= csrf_token() ?>">
<link rel="icon" type="image/png" href="<?= e(Backend\Models\BrandSetting::getFavicon()) ?>">
<title data-title-template="<?= empty($this->pageTitleTemplate) ? '%s' : e($this->pageTitleTemplate) ?> | <?= e(Backend\Models\BrandSetting::get('app_name')) ?>">
    <?= e(trans($this->pageTitle)) ?> | <?= e(Backend\Models\BrandSetting::get('app_name')) ?>
</title>
<?php
    $coreBuild = System\Models\Parameter::get('system::core.build', 1);

    // Styles
    $styles = [
        Url::asset('modules/system/assets/ui/storm.css'),
        Backend::skinAsset('assets/css/october.css'),
    ];

    // Scripts
    $scripts = [
        Backend::skinAsset('assets/js/vendor/jquery.min.js'),
        Backend::skinAsset('assets/js/vendor/jquery-migrate.min.js'),
        Url::asset('modules/system/assets/js/framework.js'),
        Backend::skinAsset('assets/js/popper.min.js'),
        Backend::skinAsset('assets/js/masterlocaleswitcher.js'),
        Backend::skinAsset('assets/js/bootstrap.min.js'),
        Backend::skinAsset('assets/js/detect.js'),
        Backend::skinAsset('assets/js/jquery.slimscroll.js'),
        Backend::skinAsset('assets/js/vertical-menu.js'),
        Backend::skinAsset('assets/plugins/tinymce/tinymce.min.js'),
        Backend::skinAsset('assets/plugins/apexcharts/apexcharts.min.js'),
        Backend::skinAsset('assets/plugins/bootstrap-inputmask/jquery.inputmask.bundle.min.js'),
        Backend::skinAsset('assets/js/custom/custom-form-inputmask.js'),
        Backend::skinAsset('assets/js/core.js'),
        Backend::skinAsset('assets/js/october.verticalmenu.js'),
        Backend::skinAsset('assets/js/chart.utils.js'),
        Backend::skinAsset('assets/js/custom/custom-form-inputmask.js'),
        Backend::skinAsset('assets/js/dist/app.js'),
    ];
    if (Config::get('develop.decompileBackendAssets', false)) {
        $scripts = array_merge($scripts, Backend::decompileAsset('modules/system/assets/ui/storm.js'));
        $scripts = array_merge($scripts, Backend::decompileAsset('assets/js/october.js', true));
    } else {
        $scripts = array_merge($scripts, [Url::asset('modules/system/assets/ui/storm-min.js')]);
        $scripts = array_merge($scripts, [Backend::skinAsset('assets/js/october-min.js')]);
    }
    $scripts = array_merge($scripts, [
        Url::asset('modules/system/assets/js/lang/lang.'.App::getLocale().'.js'),
        Backend::skinAsset('assets/js/october.flyout.js'),
        Backend::skinAsset('assets/js/october.tabformexpandcontrols.js'),
    ]);
?>

<?php foreach ($styles as $style) : ?>
<link href="<?= $style . '?v=' . $coreBuild; ?>" rel="stylesheet" importance="high">
<link href="<?= $style . '?v=' . $coreBuild; ?>" rel="preload" as="style" importance="high">
<?php endforeach; ?>

<link href="<?= Backend::skinAsset('assets/css/bootstrap.min.css') ?>" rel="stylesheet">
<link href="<?= Backend::skinAsset('assets/css/flag-icon.min.css') ?>" rel="stylesheet">

<style>
    :root {
        --primary: <?= e(Backend\Models\BrandSetting::get('primary_color')) ?>;
        --primary--dark: darken(<?= e(Backend\Models\BrandSetting::get('primary_color')) ?>,10);
        --secondary: <?= e(Backend\Models\BrandSetting::get('secondary_color')) ?>;
        --highlight: <?= e(Backend\Models\BrandSetting::get('accent_color')) ?>;
    }
</style>

<link href="<?= Backend::skinAsset('assets/css/app.css') ?>" rel="stylesheet">

<?php foreach ($scripts as $script) : ?>
<script data-cfasync="false" src="<?= $script . '?v=' . $coreBuild; ?>" importance="high"></script>
<link href="<?= $script . '?v=' . $coreBuild; ?>" rel="preload" as="script" importance="high">
<?php endforeach; ?>

<?php if (!Config::get('cms.enableBackendServiceWorkers', false)) : ?>
<script>
    "use strict";
    /* Only run on HTTPS connections
     * Block off Front-end Service Worker from running in the Backend allowing security injections, see GitHub #4384
     */
    if (location.protocol === 'https:') {
        // Unregister all service workers before signing in to prevent cache issues, see github issue: #3707
        navigator.serviceWorker.getRegistrations().then(
            function(registrations) {
                for (let registration of registrations) {
                    registration.unregister();
                }
            }
        );
    }
</script>
<?php endif; ?>

<?= $this->makeAssets() ?>
<?= Block::placeholder('head') ?>
<?= $this->makeLayoutPartial('custom_styles') ?>
