<?php
    $activeItem = BackendMenu::getActiveMainMenuItem();
    $mySettings = System\Classes\SettingsManager::instance()->listItems('mysettings');
    $navbarMode = Backend\Models\BrandSetting::get('menu_mode', 'inline');
?>

<ul class="vertical-menu">
    <li class="svg-icon-container">
        <a href="#">
            <span id="backend-logo" class="nav-icon">
                <img class="svg-icon" src="<?= e(Backend\Models\BrandSetting::getLogo()) ?>">
            </span>
        </a>
    </li>

    <?php foreach (BackendMenu::listMainMenuItems() as $item): ?>
        <?php $isActive = BackendMenu::isMainMenuItemActive($item); ?>

        <?php if ($item->code != 'cms' && $item->code != 'system' ): ?>
            <li class="<?= $isActive ? 'active' : null ?>">
                <a href="<?= (BackendMenu::listSideMenuItems($item->owner, $item->code)) && $item->code !== 'builder' ? '#' : $item->url ?>">
                    <?php if ($item->iconSvg): ?>
                        <img src="<?= Url::asset($item->iconSvg) ?>" class="img-fluid" alt="widgets">
                    <?php else: ?>
                        <i class="<?= $item->iconSvg ? 'svg-replace' : null ?> <?= $item->icon ?>"></i>
                    <?php endif ?>

                    <span> <?= e(trans($item->label)) ?></span>

                    <?php if (BackendMenu::listSideMenuItems($item->owner, $item->code) && $item->code !== 'builder'): ?>
                        <i class="feather icon-chevron-right pull-right"></i>
                    <?php endif ?>
                </a>

                <?php if (BackendMenu::listSideMenuItems($item->owner, $item->code) && $item->code !== 'builder'): ?>
                    <ul class="vertical-submenu">
                        <?php foreach (BackendMenu::listSideMenuItems($item->owner, $item->code) as $item): ?>
                            <li><a href="<?= $item->url ?>">-<?= e(trans($item->label)) ?></a></li>
                        <?php endforeach ?>
                    </ul>
                <?php endif ?>
            </li>
        <?php endif ?>
    <?php endforeach ?>
</ul>
