<?php
$exampleImages = null;

if($this->action && $this->user) {
    $exampleImages = NextLevels\Essentials\Models\ExampleImage::getExampleImages($_SERVER['REQUEST_URI']);
}
?>

<?php if ($exampleImages != null && $exampleImages->isNotEmpty() && ($this->action === 'create' || $this->action === 'update')): ?>
    <div class="help-badge" style="top: calc(50% - 60px);">
        <a href="javascript:void(0)" id="example-images-sidebar-open" class="infobar-icon">
            <img src="<?= Backend::skinAsset('assets/images/svg-icon/layouts.svg') ?>" class="img-fluid"
                 alt="settings">
        </a>
    </div>

    <div id="example-images-sidebar" class="infobar-settings-sidebar">
        <div class="infobar-settings-sidebar-head d-flex w-100 justify-content-between">
            <h4><?= e(trans('nextlevels.essentials::lang.models.example_image.label_multi')) ?></h4>
            <a href="javascript:void(0)" id="example-images-close" class="infobar-settings-close">
                <img src="<?= Backend::skinAsset('assets/images/svg-icon/close.svg') ?>" class="img-fluid menu-hamburger-close"
                     alt="close">
            </a>
        </div>
        <div class="infobar-settings-sidebar-body">
            <div class="custom-mode-setting help-sidebar-wrapper">
                <ul class="list-unstyled">
                    <?php foreach ($exampleImages as $image): ?>
                    <li class="media mb-5">
                        <img src="<?= $image->getPath() ?>" data-src="<?= $image->getPath() ?>" class="img-fluid col-sm-3 mr-3" alt="...">
                        <div class="media-body">
                            <p><strong class="mt-0 mb-1"><?= $image->getFilename() ?></strong></p>
                            <p class="text-muted"><?= (new Carbon\Carbon($image->getLastModified()))->format('d.m.Y H:i') ?>, <?= $image->size ?></p>
                        </div>
                    </li>
                    <?php endforeach ?>
                </ul>
            </div>
        </div>
    </div>
<?php endif ?>
