<?php
 if($this->action && $this->user){
    $tutorials = NextLevels\Essentials\Models\Tutorials::getTutorial($_SERVER['REQUEST_URI'],$this->action,$this->user->role->code);
    }else{
    $tutorials = null;
}
?>

<?php if ($tutorials != null): ?>

<div class="help-badge" >
    <a href="javascript:void(0)" id="infobar-help-sidebar-open" class="infobar-icon">
        <img src="<?= Backend::skinAsset('assets/images/svg-icon/question.svg') ?>" class="img-fluid"
             alt="settings">
    </a>
</div>

<div id="infobar-help-sidebar" class="infobar-settings-sidebar">
    <div class="infobar-settings-sidebar-head d-flex w-100 justify-content-between">
        <h4>Tutorials</h4>
        <a href="javascript:void(0)" id="infobar-help-close" class="infobar-settings-close">
            <img src="<?= Backend::skinAsset('assets/images/svg-icon/close.svg') ?>" class="img-fluid menu-hamburger-close"
                 alt="close">
        </a>
    </div>
    <div class="infobar-settings-sidebar-body">
        <div class="custom-mode-setting help-sidebar-wrapper">
            <div class="accordion accordion-light" id="accordionwithlight">
                <?php foreach ($tutorials as $item): ?>
                <div class="card">
                    <div class="card-header" id="headingOnelight">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOnelight" aria-expanded="true" aria-controls="collapseOnelight">
                                <!--<i class="feather icon-award mr-2"></i> -->
                                <?= e($item['content']) ?>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOnelight" class="collapse" aria-labelledby="headingOnelight" data-parent="#accordionwithlight" style="">
                        <div class="card-body">
                            <?php echo $item['html']; ?>
                        </div>
                    </div>
                </div>
                <?php endforeach ?>

            </div>

        </div>
    </div>
</div>

<?php endif ?>
