
.sidenav-tree .layout .layout-cell{
  height: 1000px;
}

.sidenav-tree  .control-toolbar .layout-cell{
  height: 0px !important;
}

.popup-backdrop {
  opacity: inherit !important;
}

.contentbar .card{

}

.card {
  background-color: transparent;
}

.card form{
  padding-top: 0;
  background-color: #f2f5f9;
}

.widgetbar .btn{
  float: right;
  margin-left: 20px;
  @media only screen and (max-width: 700px) {
    float: initial;
    margin-top: 10px;
  }
}

.contentbar{
  margin-bottom: 30px;
  margin-top: 30px;
  padding:0 15px;

}

.form-buttons .btn, .form-buttons .btn-text{
  margin-top:20px;
  margin-botom: 20px;
  @media only screen and (min-width: 700px) {
    //display: none !important;
  }
}

.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: initial;
  padding-left: initial;
  color: inherit;
}

.topbar,.topbar-mobile{
  z-index: 9999;
}

.infobar-settings-sidebar{
  z-index: 9999999999999999;
}

.custom-mode-setting{
  padding-top: 0 !important;
}

.icon-users:before {
  content: "\f0c0" !important;
}

#profilelink img{
  border-radius: 8px;
}

#ReportContainer-container-list .card{
  background: white;
}
.dropdown-overlay{
  display: none;
}


.dropdown-menu .dropdown-container >ul:after {
  right: 15px !important;
  left: initial;
}

.dropdown-menu .dropdown-container >ul:before {
  right: 14px !important;
  left: initial;
}

.notifybar .dropdown-menu {
  background: transparent !important;
}

.profilebar .dropdown-menu {
  background: transparent !important;
  background: white !important;
}

.vertical-menu .vertical-submenu > li > a:before {
  content: "";
}


.field-multilingual.field-multilingual-text .ml-btn {
  right: 1px !important;
  top: 0  !important;
  margin-top: 1px  !important;
  height: 30px  !important;
}


.dropdown-menu .dropdown-container > ul:before {
  left: 14px !important;
  left: initial;
}

.dropdown-menu .dropdown-container > ul:after {
  left: 15px !important;
  left: initial;
}

.dropdown-menu{
  //background: transparent;
  //box-shadow: none;
}

.fancy-layout .control-tabs.secondary-tabs >div >ul.nav-tabs, .fancy-layout.control-tabs.secondary-tabs >div >ul.nav-tabs {
  background: #ffffff;
}

#MLBlogMarkdown-formContent-mlControl-content{
  height: 50vh;
}


table.table.data thead th > a {
  color: var(--secondary) !important;
}

table.table.data thead th >span {
  font-weight: 900;
  color: var(--secondary) !important;
  font-size: 12px;
}

.flash-message.success {
  color: #f7f7f7;
  background-color: rgb(24 210 107 / 99%);
}

.flash-message.error {
  background: #ff3f3f;
}

.breadcrumbbar .page-title {
  font-size: 20px;
}
.btn {
  font-weight: 600;
}

.control-pagination select {
  padding: 0 10px 0 15px;
  vertical-align: initial;
}


.list-scrollable-container >.list-scrollable {
  overflow-x: scroll !important;
}

.control-popup.fade:not(.in) {
  pointer-events: initial !important;
}

.control-pagination .select2-container .select2-selection {
  height: auto !important;
}

.control-pagination .select2-container{
  width: auto !important;
}

#Form-profileForm-primaryTabs .tab-pane{
  background: white;
  padding: 26px;
}

.control-tabs {
  z-index: inherit;
}

.field-multilingual.field-multilingual-richeditor .ml-btn {
  opacity: 0;
}

.breadcrumbbar .breadcrumb-list li + li::before {
  content: '/' !important;
}

.fancy-layout{
  .field-multilingual.field-multilingual-text .ml-btn {
    display: block !important;
  }
  .field-multilingual.field-multilingual-markdowneditor .ml-btn {
    display: block !important;
  }
}
