/* Variables */

.btn-primary:visited {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary {
  color: #ffffff;
  background-color: var(--primary);
  border-color: var(--primary);
  box-shadow: none;
}

.infobar-settings-sidebar .infobar-settings-sidebar-head h4 {
  color: inherit;
}

select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: var(--primary) !important;
  color: #ffffff;
}

.btn-default:visited {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-default {
  color: #ffffff;
  background-color: var(--secondary);
  border-color: var(--secondary);
  box-shadow: none;
}

.btn-default:disabled {
  color: #ffffff;
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.vertical-menu > li.active > a {
  color: var(--primary);
}

.vertical-menu .vertical-submenu > li > a.active {
  color: var(--primary);
}

vertical-menu .vertical-submenu > li.active > a {
  color: var(--primary);
}

.vertical-menu > li:hover > a {
  color: var(--primary);
}

.vertical-menu .vertical-submenu > li:hover > a {
  color: var(--primary);
}

.btn-secondary:visited {
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.btn-secondary {
  color: #ffffff;
  background-color: var(--secondary);
  border-color: var(--secondary);
  box-shadow: none;
}

.btn-secondary:disabled {
  color: #ffffff;
  background-color: var(--secondary);
  border-color: var(--secondary);
}
.vertical-menu > li > a.active {
  color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  filter: brightness(85%);
}

.btn-default:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  filter: brightness(85%);
}

.vertical-menu > li.active > a img,
.topbar .togglebar .menu-hamburger:hover img {
  -webkit-filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg)
    saturate(500%) contrast(0.7);
  filter: grayscale(100%) brightness(120%) sepia(90%) hue-rotate(5deg)
    saturate(500%) contrast(0.7);
}

.custom-switch input:checked ~ span {
  background-color: #18d26b;
}
.notifybar .dropdown-menu .notification-dropdown-title h4 {
  color: var(--primary);
}

.profilename h5 {
  color: var(--primary);
}

input:checked + .slider {
  background-color: #18d26b !important;
}

.fade:not(.show) {
  opacity: initial;
}

.control-filter {
  padding: 0;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  border-top: none;
  border-bottom: none;
  font-size: 13px;
}

.filter-scope {
  margin: 10px 0 5px;
  color: #26395a;
  font-size: 13px;
  font-weight: 800;
}

.help-badge {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  top: 50%;
  background: var(--primary);
  padding: 14px;
  border-radius: 10px 0 0 10px;
}

.topbar,
.topbar-mobile {
  z-index: 999;
}

.infobar-settings-sidebar .infobar-settings-sidebar-head h4 {
  color: var(--primary);
}

.help-sidebar-wrapper {
  padding-top: 20px !important;
}

.profilebar .dropdown-menu .dropdown-container > ul:after {
  right: 15px !important;
  left: initial !important;
}

.profilebar .dropdown-menu .dropdown-container > ul:before {
  right: 14px !important;
  left: initial !important;
}

.userbox {
  padding-right: 20px;
}

@media (max-width: 480px) {
  body.dropdown-open .dropdown-menu {
    overflow: auto;
    overflow-y: scroll;
    position: initial;
    margin: initial;
    top: 100px !important;
    bottom: initial !important;
    right: -73px !important;
    z-index: 600;
    left: auto !important;
  }
}

.layout.stretch #Form-secondaryTabs .tab-pane {
  background: transparent;
}

.layout.stretch .control-scrollpanel {
  background: transparent;
}

.authenticate-bg {
  background-image: url(https://source.unsplash.com/1600x900/?nature,water);
}

.auth-box-right {
  background: white;
  border-radius: 25px;
  form {
    background-color: white !important;
    margin-top: 20px;
  }
  .form-control {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .logo {
    width: 80%;
  }
  h2 {
    font-size: 18px;
  }
  .login-button {
    width: 100%;
    margin-top: 15px;
  }
}
